.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  min-height: 0;
}

.nav {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
}

.centerblock {
  width: auto;
  flex-grow: 3;
  padding: 20px 40px 100px 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  max-width: 418px;
  padding: 20px 90px 20px 78px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.playerBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.skeletonBox {
  background: linear-gradient(
    90deg,
    #313131 0%,
    #313131 50%,
    #464646 50%,
    #464646 100%
  );
  background-size: 200% 100%;
  animation: loading 1.5s ease-in-out infinite;
  border-radius: 4px;
}

.tracksList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trackSkeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  padding: 12px 0;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

